<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div class="flash-error-box">
      <h2><%= pluralize(reservation.errors.count, "件") %>のエラーにより保存できませんでした</h2>
      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-card">
    <div class="field-row">
      <div class="field-group">
        <div class="field-label">📅 利用日</div>
        <%= form.date_field :date, required: true %>
      </div>
      <div class="field-group">
        <div class="field-label">🕒 開始時間</div>
        <%= form.time_field :start_time, required: true %>
      </div>
      <div class="field-group">
        <div class="field-label">🕒 終了時間</div>
        <%= form.time_field :end_time, required: true %>
      </div>
    </div>

    <div class="field-row">
      <div class="field-group">
        <div class="field-label">🎶 利用設備</div>
        <%= form.select :facility, [["カラオケルーム", "karaoke"], ["バーベキューコーナー", "bbq"]], {}, required: true %>
      </div>
      <div class="field-group">
        <div class="field-label">🚪 部屋番号</div>
        <%= form.text_field :room_number, placeholder: "例: 1234", required: true %>
      </div>
    </div>

    <div class="field-row">
      <div class="field-group">
        <div class="field-label">👤 予約者名</div>
        <%= form.text_field :name, placeholder: "例: ヤマダ タロウ", required: true %>
      </div>
      <div class="field-group">
        <div class="field-label">📞 電話番号</div>
        <%= form.text_field :phone, placeholder: "例: 090-1234-5678", required: true %>
      </div>
    </div>

    <div class="field-row">
      <div class="field-group">
        <div class="field-label">🧑‍🤝‍🧑 大人の人数</div>
        <%= form.number_field :adult_count, min: 0, required: true %>
      </div>
      <div class="field-group">
        <div class="field-label">🧒 子供の人数</div>
        <%= form.number_field :child_count, min: 0, required: true %>
      </div>
    </div>

    <div>
      <%= form.submit(reservation.persisted? ? "この内容で更新する" : "この内容で予約する", class: "btn") %>
    </div>
  </div>
<% end %>