<div id="<%= dom_id reservation %>">
  <p>
    <strong>Date:</strong>
    <%= reservation.date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= reservation.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= reservation.end_time %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= reservation.name %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= reservation.room_number %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= reservation.phone %>
  </p>

  <p>
    <strong>Facility:</strong>
    <%= reservation.facility %>
  </p>

  <p>
    <strong>Adult:</strong>
    <%= reservation.adult_count %>
  </p>

  <p>
    <strong>Child:</strong>
    <%= reservation.child_count %>
  </p>


</div>
